<div  class="userInfo" th:if=${session.id}>
    <span th:text="${session.id}"></span><span> 축구팬 // 맥주소: 00:24:D6:D1:8C:10 // </span>
    <span th:text="${session.mbLevel}"></span><span> 등급</span>
    <button type="button">
        <a th:href="@{logout}" style="color: #fff">로그아웃</a>
    </button>
</div>

<div class="title" style="color:#8a2be2; font-size:3.0em">촉구선수 리스트</div>
<form role="form" th:object=${soccerListVO} th:action="@{soccerEditSave}" method="post" enctype="multipart/form-data">
    <div class="section form">
       <table>
        <colgroup>
            <col style="width:20%"/>
            <col style="width:90%"/>
        </colgroup>
        <tbody>
            <tr> 
	            <th>선수명</th>
                <td>
                    <input type="hidden" th:field="*{Seq}" />
                    <input type="hidden" th:field="*{isEdit}"/>
                    <input type="text" th:field="*{Title}" placeholder="선수명" required/>
                </td>
            </tr>   
            <tr>
	            <th>선수 포지션</th>
	                <td>
	                    <input type="hidden" th:field="*{isEdit}"/>
	                    <input type="text" th:field="*{Position}" placeholder="선수 포지션" required/>
	                </td>
            </tr>       
            <tr>
	            <th>선수 소속팀</th>
	                <td>
	                    <input type="hidden" th:field="*{isEdit}"/>
	                    <input type="text" th:field="*{Team}" placeholder="선수 소속팀" required/>
	                </td> 
            </tr>
   
            <tr> 
               <th>선수 소개</th>
                <td >
                   <textarea colspan="3" id="story" th:field="*{content}" placeholder="선수의 특징 및 특성을 적어주세요." rows="5" cols="200" required></textarea>
                </td>
            </tr>
            <tr> 
               <th><label for="file">선수 사진</label></th>
                <td>
                    <input type="file" id="soccerFile" name="soccerFiles" multiple />
                    <span style="color: #8a2be2" th:text="'*새로 사진첨부시 기존 사진은 삭제됩니다.(첨부된 사진 : '+ ${soccerFileLen} + '개)'"></span>
                </td>
            </tr>
        </tbody>
       </table>
       <div class="button">
            <button type="submit" style="margin-right: 11px">내용수정</button>
       </div>
    </div>

</form>