<div  class="userInfo" th:if=${session.id}>
    <span th:text="${session.id}"></span><span> 축구팬 / </span>
    <span th:text="${session.mbLevel}"></span><span> 등급</span>
    <button type="button">
        <a th:href="@{logout}" style="color: #fff">로그아웃</a>
    </button>
</div>

<div class="title" style="color:#00a2be">축구선수 리스트</div>
<form role="form" action="upload" method="post" enctype="multipart/form-data">
    <div class="section form">
       <table>
        <colgroup>
            <col style="width:10%"/>
            <col style="width:5%"/>
            <col style="width:10%"/>
            <col style="width:90%"/>
        </colgroup>
        <tbody>
            <tr> 
                <th>선수명</th>
                <td>
                    <input type="hidden" name="seq" placeholder="등록번호" required/>
                    <input type="text" name="title" placeholder="선수명" required/>
                   
                    
                </td>
            </tr>
            
            <tr> 
                <th>선수 포지션</th>
                <td>
                    <input type="text" name="position" placeholder="포지션" required/>
                    
                </td>
            </tr>
            
            <tr> 
                <th>선수 소속팀</th>
                <td>
                    <input type="text" name="team" placeholder="소속팀" required/>
                    
                </td>
            </tr>
            
            <tr> 
               <th>선수 소개</th>
                <td >
                   <textarea colspan="3" id="story" name="content" placeholder="선수의 특징 및 특성을 적어주세요." rows="5" cols="200" required></textarea>
                </td>
            </tr>
            <tr> 
               <th><label for="file">선수 사진</label></th>
                <td>
                    <input type="file" id="file" name="files" multiple />
                </td>
            </tr>
        </tbody>
       </table>
       <div class="button">
            <button type="submit" style="margin-right: 11px">글쓰기</button>
       </div>
    </div>

</form>