<div  class="userInfo" th:if=${session.id}>
    <span th:text="${session.id}"></span><span> 축구팬 / </span>
    <span th:text="${session.mbLevel}"></span><span> 등급</span>
    <button type="button">
        <a th:href="@{logout}" style="color: #fff">로그아웃</a>
    </button>
</div>

<div class="title" style="color:#00a2be">촉구선수 리스트</div>
<form role="form" th:object=${fileListVO} th:action="@{editSave}" method="post" enctype="multipart/form-data">
    <div class="section form">
       <table>
        <colgroup>
            <col style="width:10%"/>
            <col style="width:5%"/>
            <col style="width:10%"/>
            <col style="width:90%"/>
        </colgroup>
        <tbody>
            <tr> 
	            <th>선수명</th>
                <td>
                    <input type="hidden" th:field="*{seq}" />
                    <input type="hidden" th:field="*{isEdit}"/>
                    <input type="text" th:field="*{title}" placeholder="선수명" required/>
                </td>
            </tr>
            
            <tr> 
	            <th>선수 포지션</th>
                <td>
                    <input type="hidden" th:field="*{isEdit}"/>
                    <input type="text" th:field="*{title}" placeholder="선수 포지션" required/>
                </td>
            </tr>
            
            <tr> 
	            <th>선수 소속팀</th>
                <td>
                    <input type="hidden" th:field="*{isEdit}"/>
                    <input type="text" th:field="*{title}" placeholder="선수 소속팀" required/>
                </td>
            </tr>
            
            <tr> 
               <th>선수 소개</th>
                <td >
                   <textarea colspan="3" id="story" th:field="*{content}" placeholder="선수의 특징 및 특성을 적어주세요." rows="5" cols="200" required></textarea>
                </td>
            </tr>
            <tr> 
               <th><label for="file">선수 사진</label></th>
                <td>
                    <input type="file" id="file" name="files" multiple />
                    <span style="color: #00a2be" th:text="'*새로 사진첨부시 기존 사진은 삭제됩니다.(첨부된 사진 : '+ ${fileLen} + '개)'"></span>
                </td>
            </tr>
        </tbody>
       </table>
       <div class="button">
            <button type="submit" style="margin-right: 11px">내용수정</button>
       </div>
    </div>

</form>